<div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full divide-y divide-gray-200">
            <thead>
              <tr>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Email</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Date</th>
                <th scope="col" class="px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase">Address</th>
                <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Approve</th>          
                <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Reject</th>
                <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-gray-500 uppercase">Reject Reason</th>
                
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200" *ngFor="let user of listOfUsers">
              <tr >
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800">{{user.email}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{user.name}} {{user.surname}}</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800"></td>
                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                    <button type="button" class="inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent text-blue-600 hover:text-blue-800 focus:outline-none focus:text-blue-800 disabled:opacity-50 disabled:pointer-events-none">Set as menager</button>
              </tr>
            </tbody>
          </table>
    
        </div>
      </div>
    </div>
  </div>

